@model EmployeeManagementSystem.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<div class="card shadow-sm border-0">
    <div class="card-header bg-primary text-white">
        <h4 class="mb-0">
            <i class="bi bi-person-circle me-2"></i>Employee Details
        </h4>
    </div>
    <hr />

    <dl class="card-body">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mobile)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JoiningDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JoiningDate)
        </dd>

        <dt class="col-sm-2">
            Department
        </dt>
        <dd class="col-sm-10">
            @Model.Department?.DepartmentName
        </dd>
    </dl>

                <div class="card-footer bg-light text-end">
                  <a asp-action="Edit" asp-route-id="@Model?.EmployeeId" class="btn btn-warning btn-sm">
            <i class="bi bi-pencil-square"></i> Edit
                 </a>
                  <a asp-action="Index" class="btn btn-secondary btn-sm">
                      <i class="bi bi-arrow-left"></i> Back to List
                   </a>
                 </div>
</div>